#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#


#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#

# Object files
*.o

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#

a.out

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
